.container-class {
	margin-bottom: 80px;
	margin-left:10px;
	margin-right:10px;
	overflow:hidden;
}

.font-14 {
	font-size: 14px;
}

.card-design {
	border:0px;
	margin-bottom: 15px;
}

.margin-top-5 {
	margin-top: -5px;
}

.margin-7 {
	margin:-7px;
}

.margin-35 {
	margin-top:-35px;
}

.margin-20 {
	margin-top:10px;
}

.dashboard-table {
	overflow-x:auto;
	height:450px;
}

.bg-success {
	background-color: #A8DF65!important;
}

.border-success {
    border-color: #A8DF65!important;
}

.bg-danger {
    background-color: #ea485f!important;
}

.border-danger {
    border-color: #ea485f!important;
}

.bg-primary {
    background-color: #1b6ca8!important;
}

.border-primary {
    border-color: #1b6ca8!important;
}