.container-class {
	margin-bottom: 80px;
	margin-left:10px;
	margin-right:10px;
	overflow:hidden;
}

.font-14 {
	font-size: 14px;
}

.card-design {
	border:0px;
	margin-bottom: 15px;
}

.margin-top-5 {
	margin-top: -5px;
}

.margin-7 {
	margin:-7px;
}

.margin-35 {
	margin-top:-35px;
}

.margin-20 {
	margin-top:10px;
}

.dashboard-table {
	overflow-x:auto;
	height:750px;
}